<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>管理系统测试页面</title>
</head>
<body>

<table class="table table-hover table-condensed">
    <legend>
        <strong>国家列表</strong>
    </legend>
    <thead>
    <tr>
        <th>编号</th>
        <th>城市名字</th>
        <th>状态</th>
        <th>国家</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="city : ${cityList}">
        <th scope="row" th:text="${city.id}"></th>
        <td th:text="${city.name}"></td>
        <td th:text="${city.state}"></td>
        <td th:text="${city.country}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>